@media screen and (max-width: 1275px) {
  .zomot h5 {
    font-size: 20px; } }
@media screen and (max-width: 1300px) {
  #meni li {
    width: 170px; }

  .drzac .tekst {
    padding-top: 30px; } }
@media screen and (max-width: 1125px) {
  #meni li {
    width: 150px; }

  .zomot h5 {
    font-size: 20px; }
    .zomot h5 .zvezdica {
      width: 20px;
      height: 20px; }

  .drzac .tekst {
    width: 300px; } }
@media screen and (max-width: 980px) {
  #slicice #oMeni {
    position: absolute;
    top: 45%;
    right: 20%; }
    #slicice #oMeni h3 {
      font-size: 20px; }

  #pozicioni li {
    width: 130px; }
  #pozicioni a {
    font-size: 15px; }

  #kruzici {
    left: 49%; }

  #strelica {
    top: 420px; } }
@media screen and (max-width: 888px) {
  .drzac .zomot {
    width: 90%; }
  .drzac #karakteristike {
    width: 100%; }
  .drzac #Iskustvo {
    width: 100%;
    margin-top: 300px; } }
@media screen and (max-width: 885px) {
  #pozicioni {
    width: 70%; }
    #pozicioni li {
      width: 110px; }

  .zomot {
    width: 100%; }
    .zomot h5 {
      font-size: 30px; }
      .zomot h5 .zvezdica {
        width: 30px;
        height: 30px; }

  #pozicioni {
    margin-left: 8%; }

  .drzac .izmena {
    margin-right: -95%; } }
@media screen and (max-width: 740px) {
  #ispod {
    display: none; }

  #pozicioni {
    margin-left: 30%;
    width: 70%; }
    #pozicioni a {
      font-size: 15px;
      font-weight: 7; }
    #pozicioni li {
      width: 90px; }

  #slika {
    width: 201px;
    height: 211px;
    background-image: url(../slike/profil4.png);
    background-repeat: no-repeat; }

  #slicice {
    background-position: -100px center; }
    #slicice #oMeni {
      right: 20%;
      width: 60%; }

  .blok {
    width: 45%; }
    .blok h6 {
      text-align: initial;
      margin-left: 20px; }

  .drzac h5 {
    font-size: 25px; }
  .drzac #karakteristike {
    width: 100%; }
  .drzac #Iskustvo {
    width: 100%;
    margin-top: 300px; }
  .drzac #skills {
    width: 90%; }

  .drzac .izmena {
    margin-right: -100%; }
  .drzac .tekst {
    padding-top: 60px; }
    .drzac .tekst h6 {
      font-size: 20px; }

  #strelica {
    top: 500px; } }
@media screen and (max-width: 625px) {
  .drzac .knjiga {
    visibility: hidden; }
  .drzac #obrazovanje {
    width: 70%; }
  .drzac #kruzici {
    left: 68.5%; }
  .drzac .tekst {
    padding: 35px;
    margin-left: 5%; }
    .drzac .tekst h6 {
      font-size: 20px; }

  .dodatni {
    margin-top: 30%; }

  #meni {
    top: 80%; }
    #meni #pozicioni {
      width: 100%;
      margin: 0px auto; }

  #slika {
    margin: 10px auto -10px auto; } }
@media screen and (max-width: 480px) {
  #slicice {
    width: 430px;
    height: 400px;
    background-position: -500px center;
    background-image: none; }
    #slicice #oMeni {
      top: 2%;
      left: 20%;
      width: 60%;
      background-color: transparent; }
      #slicice #oMeni h2 {
        font-size: 35px; }
      #slicice #oMeni h3 {
        font-size: 17px; }

  .drzac #karakteristike {
    width: 100%; }
  .drzac #Iskustvo {
    width: 100%;
    margin-top: 300px; }

  .blok {
    width: 100%;
    margin-left: 10%; }

  .drzac #kruzici {
    left: 67.5%; }

  .ikonica {
    display: none; }

  .drzac .izmena {
    margin-right: 5px; }
  .drzac .knjiga {
    top: 250px;
    left: 100px; }
  .drzac .tekst {
    padding-top: 55px;
    margin-left: -10px; }
    .drzac .tekst h6 {
      font-size: 15px; } }
@media screen and (min-width: 1600px) {
  .dodatni {
    margin-top: 10%; }

  #meni {
    height: 150px; }

  #pozicioni a {
    font-size: 30px; }

  #slicice {
    height: 1150px; }
    #slicice #oMeni {
      padding: 40px; }
      #slicice #oMeni h2 {
        font-size: 60px; }
      #slicice #oMeni h3 {
        font-size: 40px; }

  .zomot h5 {
    font-size: 35px; }
  .zomot .zvezdica {
    width: 35px;
    height: 35px; }

  .podnaslov hr {
    height: 8px; }
  .podnaslov h4 {
    font-size: 70px; }

  .blok h6 {
    font-size: 20px; }

  #kruzici {
    left: 49.5%;
    width: 60px;
    top: 120px; }
    #kruzici .krug {
      margin-top: 150px; }

  #obrazovanje {
    height: 600px; }

  .drzac .tekst {
    width: 500px;
    padding-top: 40px; }
    .drzac .tekst h6 {
      font-size: 35px; }
  .drzac .izmena {
    margin-right: -600px; }

  .drzac #pismo i {
    font-size: 300px; }
  .drzac #pismo #contme h5 {
    font-size: 80px; }

  #forma {
    width: 600px; }
    #forma input {
      width: 600px; }
    #forma textarea {
      width: 600px; } }
@media screen and (max-width: 420px) {
  #pozicioni li {
    width: 70px; }

  #slicice #oMeni h3 {
    font-size: 15px; }

  .drzac #obrazovanje {
    width: 85%; }
  .drzac #kruzici {
    left: 82.5%; }

  #forma input {
    width: 250px; }
  #forma textarea {
    width: 250px; }

  .drzac h5 {
    font-size: 20px; }

  .drzac .zomot {
    width: 80%; }
  .drzac #skills {
    width: 80%; }

  #meni a {
    font-size: 10px; }
  #meni li {
    width: 60px; }

  .drzac .tekst {
    width: 200px; } }
@media screen and (max-width: 776px) {
  .cetvrti #pismo .mapp {
    display: none; } }
@media screen and (max-width: 803px) {
  #meni li {
    width: 100px; } }
@media screen and (max-width: 703px) {
  #meni li {
    width: 75px; } }

/*# sourceMappingURL=styleresponsive.css.map */
